body
{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button
{
    width: 100px;
    height: 60px;
    border-radius: 30px;
    background-color: #0d6efd;
    border: solid white;
    cursor: pointer;
}

input
{
    height: 60px;
    border-radius: 30px;
    border: solid #0d6efd;
}


.controls
{
    width: 800px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
}

.myCanvas
{
    background-color: white;
    border: solid #0d6efd;
}
