body
{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button
{
    width: 70px;
    height: 40px;
    border-radius: 30px;
    background-color: #0d6efd;
    border: solid white;
    cursor: pointer;
    color:white;
    text-align: center;
    margin: 10px;
    border-style: double;

}

input
{
    height: 40px;
    border-radius: 30px;
    margin: 10px;
    border: solid #0d6efd;
}

.controls
{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
}

.myCanvas
{
    width: 600px;
    height: 600px;
    background-color: white;
    border: solid #0d6efd;
}

@media (max-width: 650px) {

.myCanvas
{
    width: 90%;
    height: auto;
}

    .controls
{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
}
}
